.container {
  --_indicator-height: 1px;
  --_indicator-color: var(--md-sys-color-on-surface-variant);

  background-color: var(--md-sys-color-surface-container-highest);
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 calc(var(--_indicator-height) * -1) 0 0
    var(--_indicator-color);
  transition: box-shadow var(--md-sys-motion-duration-short3)
    var(--md-sys-motion-easing-emphasized);
  padding: 0 16px;
}

.input-wrapper {
  padding-top: 24px;
  padding-bottom: 8px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  color: var(--md-sys-color-on-surface-variant);
}

:host([focused]) .label {
  color: var(--md-sys-color-primary);
}

:host([error]) .label {
  color: var(--md-sys-color-error);
}

:host([populated]) .label,
:host([focused]) .label {
  font-size: 0.75rem;
  margin-top: 4px;
}

:host([focused]) .container {
  --_indicator-height: 3px;
  --_indicator-color: var(--md-sys-color-primary);
}

:host([error]) .container {
  --_indicator-color: var(--md-sys-color-error);
}

:host([error][focused]) .container {
  --_indicator-color: var(--md-sys-color-error);
}
