:host {
  --_outline-width: 1px;
}

.container {
  border-radius: 4px;
  padding: 0 16px;
}

.input-wrapper {
  padding: 16px 0;
}

.outline {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: flex;
  border-radius: inherit;
  color: var(--md-sys-color-outline);
}

.outline-start,
.outline-notch,
.outline-end {
  border: var(--_outline-width) solid currentColor;
  transition:
    border-width var(--md-sys-motion-duration-short3)
      var(--md-sys-motion-easing-emphasized),
    border-top-color var(--md-sys-motion-duration-short3)
      var(--md-sys-motion-easing-emphasized);
  box-sizing: border-box;
}

.outline-start {
  border-right: none;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 12px;
}

.outline-end {
  border-left: none;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex: 1;
}

.outline-notch {
  border-left: none;
  border-right: none;
  display: flex;
  align-items: flex-start;
  padding: 0 4px;
  margin-top: 0;
  max-width: calc(100% - 24px);
}

.label {
  /* TODO: Make customizable through variables */
  margin-top: 15px;
}

:host(:hover) .label,
:host(:hover) .outline {
  color: var(--md-sys-color-on-surface);
}

:host([focused]) {
  --_outline-width: 3px;
}

:host([focused]) .label,
:host([focused]) .outline {
  color: var(--md-sys-color-primary);
}

:host([error]) .label,
:host([error]) .outline {
  color: var(--md-sys-color-error);
}

:host([populated]) .outline-notch,
:host([focused]) .outline-notch {
  border-top-color: transparent;
  border-top-width: 0px;
}

:host([populated]) .label,
:host([focused]) .label {
  font-size: 0.75rem;
  margin-top: -12px;
}

:host([disabled]) .outline {
  color: var(--md-sys-color-outline-variant);
}

:host([disabled]) .label {
  color: var(--md-sys-color-on-surface-variant);
}
