:host {
  display: inline-block;
}
md-filled-field,
md-outlined-field {
  inset: 0;
}
[part='input'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
}
