:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: max-content;
  min-width: 112px;
  outline: 0;
  overflow-y: auto;
  padding: 4px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

:host([color='segmented']) ::slotted(md-list-item) {
  /* TODO: This is not correctly defined in the guideline, but this looks fine */
  --_background: var(--md-sys-color-surface-container);
}
