:host {
  --md-focus-ring-shape: var(--_border-radius);
  --_size: 56px;
  --_border-radius: 16px;
  --_icon-size: 24px;
  align-items: center;
  background-color: var(--md-sys-color-primary);
  border-radius: var(--_border-radius);
  box-shadow: var(--md-sys-elevation-shadow-3);
  box-sizing: border-box;
  color: var(--md-sys-color-on-primary);
  cursor: pointer;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  gap: 8px; /* 12px (origin) - 4px (label) */
  height: var(--_size);
  justify-content: center;
  min-width: var(--_size);
  outline: 0;
  padding-inline: calc((var(--_size) - var(--_icon-size)) / 2);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow var(--md-sys-motion-effects-default-duration)
    var(--md-sys-motion-effects-default);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

md-ripple,
md-focus-ring {
  position: absolute;
} /* Since they're not SSR'd and buttons use `gap`, it's necessary to write
     this to maintain the layout during SSR'd loading. */

:host([size='m']) {
  --_size: 80px;
  --_border-radius: 20px;
  --_icon-size: 28px;
}
:host([size='l']) {
  --_size: 96px;
  --_border-radius: 28px;
  --_icon-size: 36px;
}

:host([color='primary-container']) {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
:host([color='secondary-container']) {
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
}
:host([color='tertiary-container']) {
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
}
:host([color='secondary']) {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
:host([color='tertiary']) {
  color: var(--md-sys-color-on-tertiary);
  background-color: var(--md-sys-color-tertiary);
}
:host([color='surface']) {
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-surface-container-high);
}

/*
 * > Don't disable the FAB.
 * https://m3.material.io/components/floating-action-button/accessibility#bb9f2370-4020-4c9b-9d71-64ca5150ff10
 * But anyway, they follow the disabled button styles here.
 */
:host(:disabled) {
  background-color: oklch(from var(--md-sys-color-on-surface) l c h / 10%);
  color: oklch(from var(--md-sys-color-on-surface) l c h / 38%);
  box-shadow: none;
  pointer-events: none;
}
@media (hover: hover) and (pointer: fine) {
  :host(:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-4);
  }
}

::slotted(:not([slot='label'])) {
  block-size: 1em;
  fill: currentColor;
  font-size: var(--_icon-size);
  inline-size: 1em;
}
::slotted([slot='label']) {
  margin-inline: 4px;
}

@media (forced-colors: active) {
  :host {
    forced-color-adjust: none;
    background: ButtonFace;
    color: ButtonText;
    border: 1px solid ButtonBorder;
  }
}
