:host {
  align-items: center;
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  font: var(--md-sys-typography-body-large);
  gap: 16px;
  min-height: 48px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
}

:host([multiline]) {
  min-height: 72px;
}

[name='container'] {
  border-radius: inherit;
}

/* A slot for background container elements, such as ripples and focus rings. */
[name='container']::slotted(*) {
  inset: 0;
  position: absolute;
}

.default-slot {
  display: inline;
}

.default-slot,
.text ::slotted(*) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
