:host {
  display: contents;
  min-width: 112px;
}

[part='menu'] {
  /* TODO: Set a generic standard for `z-index` */
  background: var(--md-sys-color-surface-container);
  border-radius: 16px;
  box-shadow: var(--md-sys-elevation-shadow-2);
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
  height: inherit;
  inset: auto;
  max-height: var(--md-menu-max-height, inherit);
  max-width: inherit;
  min-width: inherit;
  opacity: 0;
  outline: 0;
  overflow-y: auto;
  padding: 4px;
  position: absolute;
  transform: scaleY(0.4);
  -webkit-user-select: none;
  user-select: none;
  z-index: 1000;
}

:host([color='vibrant']) [part='menu'] {
  --md-divider-color: var(--md-sys-color-tertiary);
  --md-item-supporting-text-color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

:host([color='vibrant']) ::slotted([selected]) {
  --md-item-supporting-text-color: var(--md-sys-color-on-tertiary);
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

:host([alignstrategy='fixed']) [part='menu'] {
  position: fixed;
}

[part='items'] {
  display: flex;
  flex-direction: column;
  gap: 2px;
  opacity: 0;
}

:host(:state(closed)) [part='menu'] {
  display: none;
}

:host(:state(opening)) {
  [part='menu'] {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transition:
      opacity 67ms,
      transform var(--md-sys-motion-exp-spatial-default-duration)
        var(--md-sys-motion-exp-spatial-default);
  }

  [part='items'] {
    opacity: 1;
    transition: opacity 67ms linear 67ms;
  }
}

:host(:state(opened)) {
  [part='menu'] {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }

  [part='items'] {
    opacity: 1;
  }
}

:host(:state(closing)) {
  [part='menu'] {
    opacity: 0;
    transform: scaleY(0.4);
    transition:
      opacity var(--md-sys-motion-exp-effects-fast-duration),
      transform var(--md-sys-motion-exp-effects-slow-duration)
        var(--md-sys-motion-exp-effects-slow);
  }

  [part='items'] {
    opacity: 0;
    transition: opacity 67ms;
  }
}

::slotted(md-divider) {
  /* Which makes the gap between item and divider 8px */
  margin-block: 6px;
}
