:host {
  --_f: var(--md-sys-motion-spatial-fast-duration);
  --_fast: var(--_f) var(--md-sys-motion-spatial-fast);
  --_default: var(--md-sys-motion-spatial-default-duration)
    var(--md-sys-motion-spatial-default);

  background: var(--md-sys-color-surface-container);
  border-radius: 16px / 46px; /* roughly fixes border-radius being squished during transformation */
  box-shadow: var(--md-sys-elevation-shadow-2);
  color: var(--md-sys-color-on-surface);

  opacity: 0;
  transform: scaleY(0.5);

  transition:
    opacity 150ms linear,
    transform var(--_fast),
    border-radius var(--_fast),
    display var(--_f) allow-discrete,
    overlay var(--_f) allow-discrete;
}

:host([strategy='fixed']) {
  position: fixed;
}

:host([vibrant]) {
  --md-divider-color: var(--md-sys-color-tertiary);
  --md-item-supporting-text-color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);

  ::slotted([selected]) {
    --md-item-supporting-text-color: var(--md-sys-color-on-tertiary);
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
  }
}

slot {
  display: block;
  opacity: 0;
  transition: opacity 67ms;
}

:host(:popover-open) {
  border-radius: 16px;
  opacity: 1;
  transform: scaleY(1);

  transition:
    opacity 83ms linear,
    transform var(--_default),
    border-radius var(--_default);

  slot {
    opacity: 1;
    transition: opacity 67ms linear 67ms;
  }
}

@starting-style {
  :host(:popover-open) {
    border-radius: 16px / 46px;
    opacity: 0;
    transform: scaleY(0.5);

    slot {
      opacity: 0;
    }
  }
}
