:host {
  position: absolute;
  inset: auto;
  margin: 0;
  padding: 4px 8px;
  border: none;
  box-sizing: border-box;

  align-items: center;
  background-color: var(--md-sys-color-inverse-surface);
  border-radius: 4px;
  color: transparent;
  display: flex;
  font: var(--md-sys-typography-body-small);
  left: 0;
  max-width: var(--_max-width, 300px);
  min-height: 24px;
  opacity: 0;
  pointer-events: none;
  top: 0;
  transform: scaleY(0.5);
  width: max-content;
  z-index: 800;

  transition:
    color linear 67ms,
    opacity var(--md-sys-motion-effects-fast-duration)
      var(--md-sys-motion-effects-fast),
    transform var(--md-sys-motion-spatial-fast-duration)
      var(--md-sys-motion-spatial-fast),
    display var(--md-sys-motion-effects-fast-duration) allow-discrete,
    overlay var(--md-sys-motion-effects-fast-duration) allow-discrete;
}

:host(:popover-open) {
  color: var(--md-sys-color-inverse-on-surface);
  opacity: 1;
  pointer-events: auto;
  transform: scaleY(1);

  transition:
    color 67ms linear 67ms,
    opacity var(--md-sys-motion-effects-fast-duration)
      var(--md-sys-motion-effects-fast),
    transform var(--md-sys-motion-spatial-fast-duration)
      var(--md-sys-motion-spatial-fast);
}

@starting-style {
  :host(:popover-open) {
    color: transparent;
    opacity: 0;
    pointer-events: none;
    transform: scaleY(0.5);
  }
}

:host([force-invisible]) {
  opacity: 0;
  pointer-events: none;
}
